<%= div_for task do %>

  <h3><%= task.name %></h3>

  <ul>
   <li><%= link_to "Edit Task", new_task_path, remote: true %></li>
   <li><%= link_to "Mark Complete", complete_path, remote: true %></li>
   <li><%= link_to "Delete Task", task, remote: true, method: :delete %></li>
  </ul>
<% end %>

<% @ideas.each do |idea| %>
  <tr>
    <td><div class="editable"><%= idea.title %></div></td>
    <td><%= truncate(idea.body, length: 100) %></td>
    <td><button class="btn btn-primary disabled"><%= idea.quality %></button></td>
    <td><%= link_to edit_idea_path(idea), remote: true, class: "btn btn-info-outline" do %>
    	<i class="fa fa-edit fa-2x"></i><% end %>
   	<%= link_to idea_path(idea, thumbs: "up"), remote: true, method: :put, class: "btn btn-success-outline" do %>
    	<i class="fa fa-thumbs-o-up fa-2x"></i><% end %>
 	<%= link_to idea_path(idea, thumbs: "down"), remote: true, method: :put, class: "btn btn-warning-outline" do %>
    	<i class="fa fa-thumbs-o-down fa-2x"></i><% end %></td>
    <td><%= link_to idea_path(idea), remote: true, class: "btn btn-danger-outline" do %>
    	<i class="fa fa-times-circle-o fa-2x"></i><% end %></td>
  </tr>
<% end %>
